header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.title-2 {
  font-size: 45px;
}

/*================ Header-top  ===========*/
.header-top {
  margin-bottom: 21px;
  display: flex;
  justify-content: center;
  background: var(--header-top-bg);
  padding: 4.5px 0;
}
.header-top .title {
  font-size: 14px;
  font-family: var(--font-popins);
  font-weight: 400;
  color: var(--primary-color);
}
/*================== Navbar ====================*/
.nav-container {
  max-width: 1743.97px !important;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  padding: 8px 0 !important;
}
nav {
  padding: 0 !important;
}
.nav-logo .navbar-brand {
  max-width: 312px;
}
.offcanvas {
  display: flex;
  flex-direction: row !important;
}
.nav-logo .navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-item:not(:last-child) {
  margin-right: 36px;
}
.navbar .nav-link {
  font-family: var(--font-popins);
  font-weight: 400;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: var(--primary-color) !important;
  position: relative;
  transition: 0.5s linear !important;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  height: 6px;
  width: 6px;
  bottom: 0;
  background: var(--primary-color);
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.5s linear !important;
}
.nav-link:hover::after,
.nav-link.active::after {
  opacity: 1;
}
.nav-btn .contact-btn {
  position: relative;
  margin-right: calc(2 * 2);
}
.nav-btn .contact-btn:after {
  content: "";
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  right: -2px;
  background: #bdbdbd;
}
.nav-btn .nav-last-btn .cart-btn {
  font-size: 16px;
  font-family: var(--font-popins);
  letter-spacing: 0.8px;
  color: var(--primary-color);
  display: flex !important;
  align-items: center;
}
.nav-last-btn .cart-btn span {
  font-weight: bold;
  display: block !important;
}
.cart-btn p {
  margin: 0 !important;
}
.nav-last-btn .cart-btn,
.search-btn,
.contact-btn {
  cursor: pointer !important;
  transition: 0.5s linear !important;
}
.nav-last-btn .cart-btn {
  text-transform: capitalize;
}
.cart-btn svg {
  margin-right: 4px !important;
}
.nav-last-btn .cart-btn > svg > path,
.nav-last-btn .cart-btn > svg,
.search-btn > svg > path,
.search-btn > svg,
.contact-btn > svg,
.contact-btn > svg > path {
  transition: 0.5s linear !important;
}
.search-btn:hover > svg {
  transform: scale(1.05);
}
.search-btn:hover > svg > path {
  stroke: var(--primary-btn-color) !important;
}

.contact-btn:hover > svg {
  fill: var(--primary-btn-color) !important;
  transform: scale(1.15) !important;
}
.contact-btn:hover svg path {
  stroke: none;
}
.nav-last-btn .cart-btn:hover > svg {
  fill: var(--primary-btn-color) !important;
  transform: scale(1.05);
}
.nav-last-btn .cart-btn:hover > svg > path {
  fill: var(--primary-btn-color) !important;
}
.nav-last-btn .cart-btn:hover {
  color: var(--primary-btn-color) !important;
}

.modal {
  width: 350px !important;
  position: fixed !important;
  top: 8px !important;
  left: 40% !important;
  right: 50% !important;
  /* transform: translate(-50% , -50%); */
}
.modal h1 {
  font-family: var(--font-amiri);
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.modal-footer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.modal-footer .btn-secondary,
.modal-footer .btn-primary {
  font-family: var(--font-popins);
  font-size: 14px;
  text-transform: capitalize;
}

/*================== Banner ======================*/
.bnr-sec {
  padding: 223px 0 149px;
  /* min-height: 100vh; */
  background: url("../assets/about-bnr-bg.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bnr-cnt {
  padding: 28px 70px;
  background: var(--primary-color);
  display: inline-block;
  border-radius: 20px;
  box-shadow: var(--common-shadow) !important;
}
.bnr-cnt .title-1 {
  font-family: var(--font-amiri);
  font-weight: bold;
  text-transform: capitalize;
}
/*======================== About ====================*/
.abt-sec {
  padding: 100px 0;
}
.abt-row {
  display: flex;
  align-items: center;
  --bs-gutter-x: 64px;
}
.abt-cnt .abt-sub-title {
  font-size: 16px;
  font-family: var(--font-popins);
  width: 500;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  color: var(--primary-btn-color);
  margin-bottom: 6px;
}
.abt-cnt .title-2 {
  font-family: var(--font-amiri);
  line-height: calc(60 / 45);
  text-transform: uppercase;
}
.abt-cnt p {
  max-width: 550px;
  font-size: 15px;
  font-family: var(--font-popins);
  line-height: calc(25 / 16);
  text-transform: capitalize;
  margin-top: 14px !important;
}
.abt-fst-img {
  display: flex;
  justify-content: space-between;
  gap: 24px !important;
}
.abt-fst-img .fst-img {
  max-width: 425px;
  max-height: 569px;
  border-bottom-right-radius: 30px;
}
.abt-fst-img .fst-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-bottom-right-radius: 30px;
}
.abt-scnd-img .scnd-img {
  max-width: 303px;
  max-height: 435px;
  border-top-right-radius: 30px;
}
.abt-scnd-img .scnd-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-right-radius: 30px;
}
/*=================== Mission =========================*/
.mission-sec {
  background: var(--mission-sec-bg-color);
  padding: 100px 0;
  display: flex;
}
.mission-row {
  /* margin: 0 calc(-150px / 2); */
  --bs-gutter-x: 150px !important;
  display: flex;
  align-items: center;
}
.mission-left-imgs .fst-img {
  position: relative;
  max-width: 641px;
  border-top-right-radius: 30px !important;
}
.mission-left-imgs .fst-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fst-img .scnd-img {
  max-width: 326px !important;
  height: 345.34px;
  padding: 8px 7px !important;
  position: absolute;
  bottom: -56.34px;
  right: -97px;
  background: var(--primary-color) !important;
  border-top-left-radius: 30px !important;
}
.fst-img .scnd-img img {
  width: 100%;
  width: 100%;
  object-fit: contain;
}
.mission-cnt .title-2 {
  font-family: var(--font-amiri);
  line-height: calc(50 / 45);
  text-transform: uppercase;
}
.mission-cnt p {
  max-width: 580px;
  font-size: 15px;
  line-height: calc(25 / 16);
  font-family: var(--font-popins);
  margin: 25px 0 30px;
}

/*================= Media query ===================*/
@media screen and (max-width: 1400px) {
  .nav-item:not(:last-child) {
    margin-right: 13px !important;
  }
  .nav-btn {
    margin-left: 23px !important;
  }
}

@media screen and (max-width: 1200px) {
  .title-1 {
    font-size: 50px;
  }
  .title-2 {
    font-size: 30px;
  }
  /*====== Navbar ======*/
  .offcanvas {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.131) !important;
    backdrop-filter: blur(10px);
    padding-top: 92.19px;
    text-align: center;
    /* position: relative; */
  }
  .nav-logo .navbar-brand {
    width: 180px !important;
    margin: 0 !important;
  }
  .navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .navbar-brand img .nav-item {
    margin: 0 0 15px 0 !important;
  }
  .nav-btn {
    flex-direction: column !important;
  }
  .nav-btn {
    margin: 0 0 20px 0 !important;
  }
  .nav-btn .contact-btn:after {
    content: "";
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    right: -2px;
    background: #bdbdbd;
    opacity: 0;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .nav-last-btn .cart-btn p,
  .nav-last-btn .cart-btn span {
    display: none !important;
  }
  .close-btn {
    position: absolute;
    top: 20px !important;
    left: 20px !important;
    align-items: center;
    padding: 0 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .close-btn > span {
    display: inline-block;
    height: 2px;
    /* width: 100%; */
    position: absolute;
    background: var(--primary-color);
    left: 0;
    top: 4px;
    right: 0;
    transform: rotate(45deg) translateX(2px) !important;
  }
  .close-btn > span::after {
    content: "";
    height: 2px;
    position: absolute;
    background: var(--primary-color);
    left: 0;
    right: 0;
    top: -4px;
    transform: rotate(89deg) translateX(3px) !important;
  }
  /*======= Banner ======*/
  .bnr-sec {
    padding: 190px 0 180px !important;
  }

  /*==================== About =======================*/

  .abt-row {
    align-items: center;
    --bs-gutter-x: 30px;
  }
}

@media screen and (max-width: 992px) {
  .title-1 {
    font-size: 40px;
  }
  .title-2 {
    font-size: 28px;
  }

  /*=============== Banner =============*/
  .bnr-sec {
    padding: 110px 0 60px !important;
  }

  /*=================== About ====================*/
  .abt-sec {
    padding: 70px 0;
  }
  /* .abt-row {
    justify-content: center;
    align-items: center;
  } */
  .abt-cnt,
  .abt-fst-img,
  .abt-scnd-img {
    margin-bottom: 20px;
  }

  /*=============== Mission ============*/
  .mission-sec {
    padding: 40px 0 !important;
  }
  .mission-left-imgs,
  .mission-cnt,
  .mission-cnt p {
    text-align: center;
    margin: 30px auto;
  }
  .mission-left-imgs {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .title-1 {
    font-size: 30px;
  }
  .title-2 {
    font-size: 22px;
  }
  .title-3 {
    font-size: 18px;
  }
  p {
    font-size: 16px !important;
  }
  /*=============== Header-Top ===============*/
  .header-top {
    margin-bottom: 5px;
  }
  /*============== Banner ================*/
  .bnr-cnt {
    padding: 15px 30px;
  }

  /*================ About ================*/
  .abt-sec {
    padding: 50px 0;
  }
  .abt-row {
    justify-content: center;
    text-align: center;
  }
  .abt-fst-img,
  .abt-scnd-img {
    justify-content: center !important;
  }
  .abt-cnt,
  .abt-fst-img .fst-img,
  .abt-scnd-img .scnd-img {
    text-align: center;
    margin: 0 auto 20px;
  }
  /*=============== Mission ============*/
  .mission-cnt {
    text-align: center;
    margin: 0 auto;
  }
  .mission-btn {
    text-align: center;
    /* margin: 0 auto; */
  }
  .mission-left-imgs {
    text-align: center;
    margin-bottom: 20px;
  }

  .mission-left-imgs .fst-img {
    max-width: 100%;
    height: 100%;
  }

  .fst-img .scnd-img {
    position: relative;
    right: 0;
    bottom: 0;
    margin: 20px auto;
    width: 100%;
    height: 100%;
  }

}
