header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.title-2 {
  font-size: 30px;
}

/*================ Header-top  ===========*/
.header-top {
  margin-bottom: 21px;
  display: flex;
  justify-content: center;
  background: var(--header-top-bg);
  padding: 4.5px 0;
}
.header-top .title {
  font-size: 14px;
  font-family: var(--font-popins);
  font-weight: 400;
  color: var(--primary-color);
}
/*================== Navbar ====================*/
.nav-container {
  max-width: 1743.97px !important;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  padding: 8px 0 !important;
}
nav {
  padding: 0 !important;
}
.nav-logo .navbar-brand {
  max-width: 312px;
}
.offcanvas {
  display: flex;
  flex-direction: row !important;
}
.nav-logo .navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-item:not(:last-child) {
  margin-right: 36px;
}
.navbar .nav-link {
  font-family: var(--font-popins);
  font-weight: 400;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: var(--primary-color) !important;
  position: relative;
  transition: 0.5s linear !important;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  height: 6px;
  width: 6px;
  bottom: 0;
  background: var(--primary-color);
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.5s linear !important;
}
.nav-link:hover::after,
.nav-link.active::after {
  opacity: 1;
}
.nav-btn .contact-btn {
  position: relative;
  margin-right: calc(2 * 2);
}
.nav-btn .contact-btn:after {
  content: "";
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  right: -2px;
  background: #bdbdbd;
}
.nav-btn .nav-last-btn .cart-btn {
  font-size: 16px;
  font-family: var(--font-popins);
  letter-spacing: 0.8px;
  color: var(--primary-color);
  display: flex !important;
  align-items: center;
}
.nav-last-btn .cart-btn span {
  font-weight: bold;
  display: block !important;
}
.cart-btn p {
  margin: 0 !important;
}
.nav-last-btn .cart-btn,
.search-btn,
.contact-btn {
  cursor: pointer !important;
  transition: 0.5s linear !important;
}
.nav-last-btn .cart-btn {
  text-transform: capitalize;
}
.cart-btn svg {
  margin-right: 4px !important;
}
.nav-last-btn .cart-btn > svg > path,
.nav-last-btn .cart-btn > svg,
.search-btn > svg > path,
.search-btn > svg,
.contact-btn > svg,
.contact-btn > svg > path {
  transition: 0.5s linear !important;
}
.search-btn:hover > svg {
  transform: scale(1.05);
}
.search-btn:hover > svg > path {
  stroke: var(--primary-btn-color) !important;
}

.contact-btn:hover > svg {
  fill: var(--primary-btn-color) !important;
  transform: scale(1.15) !important;
}
.contact-btn:hover svg path {
  stroke: none;
}
.nav-last-btn .cart-btn:hover > svg {
  fill: var(--primary-btn-color) !important;
  transform: scale(1.05);
}
.nav-last-btn .cart-btn:hover > svg > path {
  fill: var(--primary-btn-color) !important;
}
.nav-last-btn .cart-btn:hover {
  color: var(--primary-btn-color) !important;
}

.modal {
  width: 350px !important;
  position: fixed !important;
  top: 8px !important;
  left: 40% !important;
  right: 50% !important;
  /* transform: translate(-50% , -50%); */
}
.modal h1 {
  font-family: var(--font-amiri);
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.modal-footer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.modal-footer .btn-secondary,
.modal-footer .btn-primary {
  font-family: var(--font-popins);
  font-size: 14px;
  text-transform: capitalize;
}

/*================== Banner ======================*/
.bnr-sec {
  padding: 223px 0 149px;
  /* min-height: 100vh; */
  background: url("../assets/about-bnr-bg.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bnr-cnt {
  padding: 28px 70px;
  background: var(--primary-color);
  display: inline-block;
  border-radius: 20px;
  box-shadow: var(--common-shadow) !important;
}
.bnr-cnt .title-1 {
  font-family: var(--font-amiri);
  font-weight: bold;
  text-transform: capitalize;
}

/*================== Blog card ==================*/
.blog-cards-sec {
  padding: 50px 0;
  background: var(--mission-sec-bg-color);
}
.blog-row {
  --bs-gutter-x: 30px;
  /* row-gap: 30px; */
}
.blog-cards {
  padding: 14px 13px 35px 14px !important;
  box-shadow: var(--common-shadow);
  background: var(--primary-color);
  border-radius: 15px;
  transition: 0.5s linear;
  margin-bottom: 30px;
}
.blog-cards:hover {
  transform: scale(1.02);
}
.blog-cards .card-img {
  max-width: 440px;
  max-height: 269px;
  margin-bottom: 25px;
  border-radius: 10px;
}
.blog-cards .card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.blog-cards .card-bsic {
  display: flex;
  align-items: center;
  gap: 14px !important;
  /* margin-bottom: 25px; */
}
.blog-cards .card-bsic p {
  font-family: var(--font-popins);
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: calc(30 / 14);
  text-transform: capitalize;
}
.blog-cards .title-2 {
  font-family: var(--font-amiri);
  line-height: calc(29 / 30);
  margin-bottom: 30px;
}
.blog-cards .card-details {
  font-size: 16px;
  font-family: var(--font-popins);
  font-weight: 300;
  line-height: calc(24 / 16);
  margin-bottom: 33px;
}
.blog-cards .card-btn {
  font-size: 16px;
  font-family: var(--font-popins);
  text-transform: capitalize;
  padding: 0;
  background: none;
  border: none;
  color: var(--primary-btn-color);
  position: relative;
  transition: 0.5s linear;
  overflow: hidden;
}
.blog-cards .card-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--header-top-bg);
  transition: 0.5s linear;
}
.blog-cards .card-btn:hover::after {
  width: 77%;
}
.blog-cards .card-btn svg {
  margin-left: 7px;
  transition: 0.6s linear;
}
.blog-cards .card-btn:hover svg {
  transform: translateX(20px);
}

.card-slide-btns {
  /* max-width: 302px; */
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card-slide-btns svg {
  display: block;
}
.card-slide-btns .prev-btn,
.card-slide-btns .next-btn,
.card-slide-btns .collaps-btn {
  margin-bottom: 5px;
}
.card-slide-btns .one-btn,
.card-slide-btns .two-btn,
.card-slide-btns .three-btn,
.card-slide-btns .four-btn {
  font-size: 12px !important;
  line-height: calc(13 / 12);
  position: relative;
  transition: 0.5s linear;
}
.card-slide-btns .two-btn,
.card-slide-btns .three-btn,
.card-slide-btns .four-btn {
  /* color: var(--primary-color) !important; */
  z-index: 1;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s linear;
}
.card-slide-btns .one-btn {
  position: relative;
  color: var(--primary-color) !important;
  z-index: 1;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-slide-btns .one-btn::after {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  background: var(--primary-btn-color);
  transform: translateY(-4px);
  inset: 0;
  border-radius: 50% !important;
  z-index: -1;
  transition: 0.5s linear;
  box-shadow: var(--common-shadow);
}
.card-slide-btns .two-btn::after,
.card-slide-btns .three-btn::after,
.card-slide-btns .four-btn::after {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  background: var(--primary-btn-color);
  transform: translateY(-4px);
  inset: 0;
  border-radius: 50% !important;
  z-index: -1;
  opacity: 0;
  transition: 0.5s linear;
  box-shadow: var(--common-shadow);
}
.card-slide-btns .two-btn:hover::after,
.card-slide-btns .three-btn:hover::after,
.card-slide-btns .four-btn:hover::after {
  opacity: 1;
}
.card-slide-btns .one-btn:hover {
  transform: scale(1.03);
}
.card-slide-btns .one-btn:hover::after {
  background: var(--primary-btn-hover-color);
}
.card-slide-btns .two-btn:hover,
.card-slide-btns .three-btn:hover,
.card-slide-btns .four-btn:hover {
  color: var(--primary-color);
}
/*================= Media query ===================*/
@media screen and (max-width: 1400px) {
  .nav-item:not(:last-child) {
    margin-right: 13px !important;
  }
  .nav-btn {
    margin-left: 23px !important;
  }
}

@media screen and (max-width: 1200px) {
  .title-1 {
    font-size: 50px;
  }
  .title-2 {
    font-size: 25px;
  }
  /*====== Navbar ======*/
  .offcanvas {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.131) !important;
    backdrop-filter: blur(10px);
    padding-top: 92.19px;
    text-align: center;
    /* position: relative; */
  }
  .nav-logo .navbar-brand {
    width: 180px !important;
    margin: 0 !important;
  }
  .navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .navbar-brand img .nav-item {
    margin: 0 0 15px 0 !important;
  }
  .nav-btn {
    flex-direction: column !important;
  }
  .nav-btn {
    margin: 0 0 20px 0 !important;
  }
  .nav-btn .contact-btn:after {
    content: "";
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    right: -2px;
    background: #bdbdbd;
    opacity: 0;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .nav-last-btn .cart-btn p,
  .nav-last-btn .cart-btn span {
    display: none !important;
  }
  .close-btn {
    position: absolute;
    top: 20px !important;
    left: 20px !important;
    align-items: center;
    padding: 0 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .close-btn > span {
    display: inline-block;
    height: 2px;
    /* width: 100%; */
    position: absolute;
    background: var(--primary-color);
    left: 0;
    top: 4px;
    right: 0;
    transform: rotate(45deg) translateX(2px) !important;
  }
  .close-btn > span::after {
    content: "";
    height: 2px;
    position: absolute;
    background: var(--primary-color);
    left: 0;
    right: 0;
    top: -4px;
    transform: rotate(89deg) translateX(3px) !important;
  }
  /*======= Banner ======*/
  .bnr-sec {
    padding: 190px 0 180px !important;
  }
}

@media screen and (max-width: 992px) {
  .title-1 {
    font-size: 40px;
  }
  .title-2 {
    font-size: 20px;
  }

  /*=============== Banner =============*/
  .bnr-sec {
    padding: 110px 0 60px !important;
  }
}
@media screen and (max-width: 768px) {
  .title-1 {
    font-size: 30px;
  }
  .title-2 {
    font-size: 22px;
  }
  .title-3 {
    font-size: 18px;
  }
  p {
    font-size: 16px !important;
  }
  /*=============== Header-Top ===============*/
  .header-top {
    margin-bottom: 5px;
  }
  /*============== Banner ================*/
  .bnr-cnt {
    padding: 15px 30px;
  }
  /*================ Blog Card ================*/
  .blog-cards {
    text-align: center;
  }
  .blog-cards .card-img {
    max-width: 100%;
  }
  .blog-cards .card-bsic {
    justify-content: center;
    text-align: center;
    gap: 5px;
  }
}
