header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.title-2 {
  font-size: 45px;
}
/*================ Header-top  ===========*/
.header-top {
  margin-bottom: 21px;
  display: flex;
  justify-content: center;
  background: var(--header-top-bg);
  padding: 4.5px 0;
}
.header-top .title {
  font-size: 14px;
  font-family: var(--font-popins);
  font-weight: 400;
  color: var(--primary-color);
}
/*================== Navbar ====================*/
.nav-container {
  max-width: 1743.97px !important;
  /* padding: 8px 0; */
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  padding: 8px 0 !important;
}
nav {
  padding: 0 !important;
}
.nav-logo .navbar-brand {
  max-width: 312px;
}
.offcanvas {
  display: flex;
  flex-direction: row !important;
}
.nav-logo .navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* .navbar .nav-item {
  margin-right: 40px;
} */
/* .nav-item:last-child {
  margin: 0 !important;
} */
.nav-item:not(:last-child) {
  margin-right: 36px;
}
.navbar .nav-link {
  font-family: var(--font-popins);
  font-weight: 400;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: var(--primary-color) !important;
  position: relative;
  transition: 0.5s linear !important;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  height: 6px;
  width: 6px;
  bottom: 0;
  background: var(--primary-color);
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.5s linear !important;
}
.nav-link:hover::after,
.nav-link.active::after {
  opacity: 1;
}
/* .nav-btn {
  margin-left: 45px !important;
  margin-left: auto !important ;
} */
.nav-btn .contact-btn {
  position: relative;
  margin-right: calc(2 * 2);
}
.nav-btn .contact-btn:after {
  content: "";
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  right: -2px;
  background: #bdbdbd;
}
.nav-btn .nav-last-btn .cart-btn {
  font-size: 16px;
  font-family: var(--font-popins);
  letter-spacing: 0.8px;
  color: var(--primary-color);
  display: flex !important;
  align-items: center;
}
.nav-last-btn .cart-btn span {
  font-weight: bold;
  display: block !important;
}
.cart-btn p {
  margin: 0 !important;
}
.nav-last-btn .cart-btn,
.search-btn,
.contact-btn {
  cursor: pointer !important;
  transition: 0.5s linear !important;
}
.nav-last-btn .cart-btn {
  text-transform: capitalize;
}
.cart-btn svg {
  margin-right: 4px !important;
}
.nav-last-btn .cart-btn > svg > path,
.nav-last-btn .cart-btn > svg,
.search-btn > svg > path,
.search-btn > svg,
.contact-btn > svg,
.contact-btn > svg > path {
  transition: 0.5s linear !important;
}
.search-btn:hover > svg {
  transform: scale(1.05);
}
.search-btn:hover > svg > path {
  stroke: var(--primary-btn-color) !important;
}

.contact-btn:hover > svg {
  fill: var(--primary-btn-color) !important;
  transform: scale(1.15) !important;
}
.contact-btn:hover svg path {
  stroke: none;
}
.nav-last-btn .cart-btn:hover > svg {
  fill: var(--primary-btn-color) !important;
  transform: scale(1.05);
}
.nav-last-btn .cart-btn:hover > svg > path {
  fill: var(--primary-btn-color) !important;
}
.nav-last-btn .cart-btn:hover {
  color: var(--primary-btn-color) !important;
}

.modal {
  width: 350px !important;
  position: fixed !important;
  top: 8px !important;
  left: 40% !important;
  right: 50% !important;
  /* transform: translate(-50% , -50%); */
}
.modal h1 {
  font-family: var(--font-amiri);
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.modal-footer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.modal-footer .btn-secondary,
.modal-footer .btn-primary {
  font-family: var(--font-popins);
  font-size: 14px;
  text-transform: capitalize;
}

/*================== Banner ======================*/
.bnr-sec {
  padding: 223px 0 213px;
  /* min-height: 100vh; */
  background: url("../assets/banner-bg.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bnr-sec .bnr-cnt {
  /* text-align: center; */
  display: inline-block;
  background: var(--primary-color);
  padding: 56px 59px 55px 60px;
  box-shadow: var(--common-shadow);
  border-radius: 20px;
}
.bnr-cnt .title-1 {
  font-family: var(--font-amiri) !important;
  font-weight: bold !important;
  margin-bottom: 35px;
}
.bnr-cnt p {
  font-size: 16px;
  line-height: calc(25 / 16);
  font-family: var(--font-popins);
}
.bnr-btn {
  margin-top: 35px;
}
.explor-btn {
  padding: 29px 38px !important;
  background-color: var(--primary-btn-color) !important;
  border-radius: 60px !important;
  font-size: 18px;
  font-family: var(--font-popins);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4.32px;
  line-height: calc(92 / 18);
  transition: 0.5s linear !important;
  overflow: hidden;
}
.explor-btn svg {
  margin-left: 16px !important;
  transition: 0.8s linear;
}
.explor-btn > svg > path {
  transition: 0.5s linear !important;
}
.explor-btn:hover {
  transform: scale(1.05);
  color: var(--primary-color) !important;
  background: var(--primary-btn-hover-color) !important;
}
.explor-btn:hover svg {
  transform: translateX(85px);
}
.explor-btn:hover svg > path {
  fill: var(--primary-color) !important;
}

/*=================== Product & Arrival =================*/
.prodct-sec {
  padding: 100px 0 !important;
}
.prodct-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px !important;
}
.prodct-cnt > .prodct-title p {
  font-size: 16px;
  letter-spacing: 2.2px;
  text-transform: uppercase !important;
  margin-bottom: 14px !important;
  color: var(--primary-btn-color) !important;
}
.prodct-title .title-2 {
  text-transform: uppercase;
  font-family: var(--font-amiri);
  font-weight: 400;
  margin-bottom: 25px;
}
.prodct-title .prodct-slide-btn {
  display: flex;
  justify-content: center;
}
.prodct-slide-btn .left-arrow-btn {
  margin-right: 35px;
}
.prodct-row {
  --bs-gutter-x: 24px !important;
}
.prodct-cards .prodct-img {
  max-width: 347px !important;
  height: 382px !important;
}
.prodct-img img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.prodct-cards .card-img-1,
.card-img-1 img,
.prodct-cards .card-img-3,
.card-img-3 img {
  border-top-right-radius: 30px;
}
.prodct-cards .card-img-2,
.card-img-2 img,
.prodct-cards .card-img-4,
.card-img-4 img {
  border-top-left-radius: 30px;
}
.prodct-cards .prodct-card-cnt {
  margin-top: 22px;
}
.prodct-card-cnt .prodct-star {
  margin-bottom: 10px;
}
.prodct-card-cnt p {
  max-width: 325px;
  font-size: 18px;
  font-family: var(--font-amiri);
  line-height: calc(24 / 20);
  margin-bottom: 6px;
}
.prodct-card-cnt .prodct-price {
  font-size: var(--font-Gothic-A1);
  font-size: 15px;
  line-height: calc(32 / 15);
}

/*=================== Success =========================*/
.success-sec {
  padding: 100px 0;
}
.success-row {
  --bs-gutter-x: 150px !important;
}
.success-left-imgs .fst-img {
  position: relative;
  max-width: 641px;
  border-top-right-radius: 30px !important;
}
.success-left-imgs .fst-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fst-img .scnd-img {
  max-width: 326px !important;
  height: 345.34px;
  padding: 8px 7px !important;
  position: absolute;
  bottom: -56.34px;
  right: -97px;
  background: var(--primary-color) !important;
  border-top-left-radius: 30px !important;
}
.fst-img .scnd-img img {
  width: 100%;
  width: 100%;
  object-fit: contain;
}
.success-cnt .title-2 {
  font-family: var(--font-amiri);
  line-height: calc(50 / 45);
  text-transform: uppercase;
}
.success-cnt p {
  max-width: 580px;
  font-size: 15px;
  line-height: calc(25 / 16);
  font-family: var(--font-popins);
  margin: 25px 0 30px;
}
.read-btn {
  padding: 16px 35px;
  font-family: var(--font-popins);
  font-size: 18px;
  line-height: calc(92 / 18);
  text-transform: uppercase;
  background-color: var(--primary-btn-color) !important;
  border-radius: 50px !important;
  transition: 0.5s linear !important;
  overflow: hidden;
}
.read-btn svg {
  margin-left: 10px;
  transform: translateY(-30%);
  transition: 0.9s linear !important;
}
.read-btn svg path {
  transition: 0.5s linear !important;
}
.read-btn:hover {
  background: var(--primary-btn-hover-color) !important;
  transform: scale(1.05);
  color: var(--primary-color) !important;
}
.read-btn:hover svg {
  transform: translateX(59px);
}
.read-btn:hover svg path {
  fill: var(--primary-color) !important;
}

/*================== Offer ================*/
.offer-sec {
  padding: 100px 0 40px;
}
.offer-cnt {
  text-align: center;
  margin-bottom: 52px;
}
.offer-cnt > p {
  font-size: 16px;
  letter-spacing: 2.2px;
  color: var(--primary-btn-color) !important;
  font-family: var(--font-popins);
  font-weight: 500 !important;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.offer-cnt .title-2 {
  font-family: var(--font-amiri);
  line-height: calc(60 / 45);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.offer-row {
  --bs-gutter-x: 133px;
}
.offer-card {
  text-align: center;
  margin-bottom: 30px !important;
}
.offer-card .offer-card-img {
  display: inline-block;
  margin-bottom: 32px !important;
}
.offer-card .offer-card-cnt .title-3 {
  font-family: var(--font-amiri);
  font-weight: bold;
  text-transform: uppercase;
}
.offer-card.offer-card-cnt p {
  font-size: 16px;
  font-family: var(--font-popins);
  line-height: calc(25 / 16);
}


/*================= Media query ===================*/
@media screen and (max-width: 1400px) {
  .nav-item:not(:last-child) {
    margin-right: 13px !important;
  }
  .nav-btn {
    margin-left: 23px !important;
  }
}

@media screen and (max-width: 1200px) {
  .title-1 {
    font-size: 50px;
  }
  .title-2 {
    font-size: 30px;
  }
  /*====== Navbar ======*/
  .offcanvas {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.131) !important;
    backdrop-filter: blur(10px);
    padding-top: 92.19px;
    text-align: center;
    /* position: relative; */
  }
  .nav-logo .navbar-brand {
    width: 180px !important;
    margin: 0 !important;
  }
  .navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .navbar-brand img .nav-item {
    margin: 0 0 15px 0 !important;
  }
  .nav-btn {
    flex-direction: column !important;
  }
  .nav-btn {
    margin: 0 0 20px 0 !important;
  }
  .nav-btn .contact-btn:after {
    content: "";
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    right: -2px;
    background: #bdbdbd;
    opacity: 0;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .nav-last-btn .cart-btn p,
  .nav-last-btn .cart-btn span {
    display: none !important;
  }
  .close-btn {
    position: absolute;
    top: 20px !important;
    left: 20px !important;
    align-items: center;
    padding: 0 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .close-btn > span {
    display: inline-block;
    height: 2px;
    /* width: 100%; */
    position: absolute;
    background: var(--primary-color);
    left: 0;
    top: 4px;
    right: 0;
    transform: rotate(45deg) translateX(2px) !important;
  }
  .close-btn > span::after {
    content: "";
    height: 2px;
    position: absolute;
    background: var(--primary-color);
    left: 0;
    right: 0;
    top: -4px;
    transform: rotate(89deg) translateX(3px) !important;
  }
  /*======= Banner ======*/
  .bnr-sec {
    padding: 190px 0 180px !important;
  }
  .bnr-cnt {
    padding: 56px 39px 55px 40px !important;
  }
  .explor-btn {
    padding: 15px 20px !important;
    letter-spacing: 2.16px !important;
  }
  .explor-btn svg {
    margin-left: 8px;
  }
}

@media screen and (max-width: 992px) {
  .title-1 {
    font-size: 40px;
  }
  .title-2 {
    font-size: 28px;
  }

  /*=============== Banner =============*/
  .bnr-sec {
    padding: 110px 0 60px !important;
  }
  .bnr-cnt {
    padding: 36px 29px 25px 20px !important;
  }
  .explor-btn {
    padding: 10px 15px !important;
    letter-spacing: 1.8px !important;
  }
  .explor-btn > svg {
    margin-left: 4px;
  }

  /*============= Product & Arrival ============*/
  .prodct-sec {
    padding: 40px 0 !important;
  }
  .product-row > div {
    display: flex;
    justify-content: center;
  }
  .prodct-cards {
    margin-bottom: 25px !important;
  }
  /*=========== Offer ============*/
  .offer-sec {
    padding: 40px 0 !important;
  }

  /*=============== Success ============*/
  .success-sec {
    padding: 40px 0 !important;
  }
  .success-left-imgs,
  .success-cnt,
  .success-cnt p {
    text-align: center;
    margin: 30px auto;
  }
  .success-left-imgs {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .title-1 {
    font-size: 36px;
  }
  .title-2 {
    font-size: 22px;
  }
  .title-3 {
    font-size: 18px;
  }
  p {
    font-size: 16px !important;
  }
  /*================== product & Arrival ===================*/
  .prodct-sec {
    padding: 40px 0 !important;
  }
  .prodct-cnt {
    flex-direction: column;
    text-align: center;
    margin: 0 auto 20px !important;
  }
  /*=============== Success ============*/
  .success-cnt {
    text-align: center;
    margin: 0 auto;
  }
  .success-btn {
    text-align: center;
    /* margin: 0 auto; */
  }
  .read-btn {
    padding: 8px 16px !important;
    font-size: 14px !important;
  }
  .read-btn svg {
    margin-left: 5px;
  }
  .success-left-imgs {
    text-align: center;
    margin-bottom: 20px;
  }

  .success-left-imgs .fst-img {
    max-width: 100%;
    height: 100%;
  }

  .fst-img .scnd-img {
    position: relative;
    right: 0;
    bottom: 0;
    margin: 20px auto;
    width: 100%;
    height: 100%;
  }

  /*=============== Offer =============*/
  .offer-sec {
    padding: 90px 0;
  }

  .offer-card {
    margin-bottom: 25px;
  }

}
